<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque aspernatur, amet laborum, non omnis
        delectus porro iusto repellendus sit fugit. Saepe maiores quae voluptatum dicta eum dolore consequuntur sit?
        Dolorem, nostrum! Nobis modi minima quasi quis, beatae ad eius inventore deserunt ratione autem vitae? Ad
        nobis totam rem. Magnam dignissimos animi vel ea libero aliquid dolor ratione, eos doloremque.</p>
</body>

<%- include('partials/foot') %>